.help-h1 {
    margin: 10px 40px;
    font-weight: bold;
}

.help-container {
    margin:20px 40px;
    padding: 20px;
    border: 1px solid var(--light-grey);
    border-radius: 4px;
}

.help-box {
    border-bottom: 1px solid var(--dark-blue);
}

.help-title {
    margin-top: 14px;
    color: var(--black-color);
    font-size: 18px;
    font-weight: bold;
}


