.sp-line {
    background-color: var(--sad-red);
    color: var(--white);
    text-align: center;
    font-size: 10px;
    margin: 0;
}

@media screen and (min-width: 768px) {

    .sp-line {
        font-size: 14px;
    }

}