.footer {
    padding: 0 15px;
    width: 100%;
    margin-top: 30px;
    background-color: var(--dark-blue);
    font-family: var(--fuente-encabezados);
}

.footer-menu {
    padding: 20px 0;
}

.footer-link {
    margin: 8px 0;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid var(--white);

    &:hover {
        color: var(--white);
    }

}

.footer-icons-cont {
    margin-bottom: 20px;
}

.footer-icons {
    // color: var(--light-grey);
    font-size: 30px;
    margin-right: 24px;

    &:hover {
        color: white;
        font-size: 36px;
        transition: all 0.3s ease;
    }

    &:active {
        font-size: 36px;
        transition: all 0.3s ease;
    }
}

.footer-link, .footer-icons, .copyright {
    color: var(--light-grey);
}

.copyright {
    font-size: 14px;
}